<%- include('../partials/header') %>

<h2>Flight Details:</h2>
<p>Airline: <%= flight.airline %></p>
<p>Flight Number: <%= flight.flightNo %></p>
<p>Departure Airport: <%= flight.airport %></p>

<h3>Destinations:</h3>
<ul>
  <% flight.destinations.forEach(destination => { %>
    <li><%= destination.airport %> (Arrival: <%= destination.arrival %>)</li>
  <% }); %>
</ul>

<h3>Add Destination:</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <label>Airport Code:
    <select name="airport">
      <option value="AUS">AUS - Australia</option>
      <option value="DFW">DFW - Dallas</option>
      <option value="DEN">DEN - Denver</option>
      <option value="LAX">LAX - Los Angeles</option>
      <option value="SAN">SAN - San Francisco</option>
      <option value="MXN">MXN - Mexico</option>
      <option value="DXB">DXB - Dubai</option>
    </select>
  </label><br>

  <label>Arrival Date/Time:
    <input type="date" name="arrival" required>
  </label><br>

  <button type="submit" id:'destination'>Add Destination</button>
</form>

<h2>Tickets for this Flight</h2>


<!-- Form to Add New Ticket -->
<form action="/flights/<%= flight._id %>/tickets/new">
  

  <button type="submit" id: 'addTicket'>Add Ticket</button>
</form>

<h2>Tickets List</h2>
  <table>
    <thead>
      <th>Seat</th>
      <th>Price (AUD)</th>
    </thead>
    <tbody>
      <% tickets.forEach(function(ticket) { %>
        <tr>
          <td>
            <%= ticket.seat %>
          </td>
          <td>
            <%= ticket.price %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

<%- include('../partials/footer') %>